terratowns_endpoint="https://terratowns.cloud/api"
generic = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/generic"
    content_version = 1
}

factorio = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/factorio"
    content_version = 1
}

music = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/music"
    content_version = 1
}

video = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/video"
    content_version = 1
}

canada = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/canada"
    content_version = 1
}