user_uuid = "501d1705-6fa2-4827-9949-2a6c3efd12a3"
bucket_name = "ye5ykzq8u4356aqejx41h757md1qpjjf"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
content_version=3